.content {
    padding: 0 3rem;
}

header img {
    height: 3rem;
    margin-right: 0.3rem;
}
header h2 {
    font-size: 1.75rem;
    font-weight: 300;
}

header .actions {
    flex-grow: 1;
    text-align: right;
}

header button.brand {
    cursor: pointer;
    margin-top: 5px;
}
